@model System.String
@{
    
    ViewBag.Title = "SetPassword";
}

<h2>SetPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>SetPasswords</legend>
        <div>
            <input type="password" name="password"/>
        </div>
        <p>
            <input type="hidden" name="username" value="@Model"/>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}